#noresults, #loading {
  display: none;
}

input {
text-align: center;
}

option {
	border:none;
	background-color: white;
}

table {
    border: none;
}

select#selectVolume{
	border:none;
	background-color: inherit;
	border-left:solid 1px #b9adad ;
}

.searchMe{
	width: 100%;
	text-align: left;
	border: 1px solid #b9adad;
    padding: 5px;
	margin-top: 1%;
}

#results{
	width: 67%;
	margin: 20px 0;
}

.elasti_link{
	font-weight: bold;
}

span.content {
    margin-bottom: 20px;
	display: block;
}

#results h5{
	margin-bottom: 5px;
    margin-top: 20px;
}

.result {
  display: flex;
}


.dropDownSelect {
	width:20%;
	height:20%;
	border:none;
	position:relative;
	left:39%;
}

.searchBar {
	width:70%;
	position:relative;
	left:60%

}
