/* body {
	/* background-color: #8EC5FC; */
/* background-image: url("paper.png");
background-repeat: no-repeat;
background-size: cover; */
/* } */ 

.body-bg {
	background-image: url("paper.png");
	/* min-height: 100%; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	/* background-size: cover; */
opacity: 0.5;
overflow:auto;
  position: absolute;
  /* left: inherit;
  top: inherit; */
  /* height:100%; */
  width: 100%;

}

.logo {
	padding: 5px;
	margin: auto;
	position: relative;
	font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
	border-style: none;
	overflow:auto;
}

header {
	/* background-color:rgba(86,166,68,255) ; */
	overflow: hidden;
	width: 100%;
	height: 30%;
}

footer {
	position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: white;
  text-align: center; 
}

.bodyContainer {
	height: 70%;
	overflow: hidden;
}

.container {
	align-items: center;
	height:100vh;
	height: 30%;
}

.search-panel {
	margin: auto;
	display: flex;
	width: 60%;
}

.result-panel {
	width: 60%;
	margin: auto;
}

.searchMe {
	width: 75%;
	height: 30px;
	border: solid 1px grey;
	padding: 0 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: white;
}

.select-box {
	text-align: center;
	width: 25%;
	height: 30px;
	border: solid 1px grey;
	background-color: white;
	border-left: solid 1px #b9adad;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

option:hover {
	border:1px solid black;
}
.searchMe:focus,
.select-box:focus {
	outline: none;
}

#noresults, #loading {
	display: none;
  }

  #results h5{
	margin-bottom: 5p;
  }

.result-status {
	margin:10px 0;
	font-size: 14px;
	/* text-decoration: none; */
}

.result-box {
	border-top: 1px solid grey;
	margin-top: 30px;
	/* background-color: rgb(90, 177, 90); */
}

.result-box:last-child {
	margin-bottom: 30px;
}

.result-title {
	font-size: 18px;
	font-weight: bold;
}

.result-content {
	height: 60px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	font-weight: normal;
	font-family: sans-serif;
}




